* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-3 {
    background-image: url(../images/relax.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#hero-3 h2 {
    font-size: 8vw;
    max-width: 0px 5vw 5vh 0px;
    color: rgb(96, 71, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


#hero-3 h4 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: rgb(75, 75, 194);
}


#hero-3 h3 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
    color: #463ca0;
}

#hero-3 a {
    font-size: 2vw;
    display: inline-block;
    background-color: #064186;
    text-align: center;
    color: beige;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 2vw 10vh 100px;
    border-radius: 25px;
}

#hero-3 .hero-content {
    position: absolute;
    top: 10%;
    left: 5%;
}


* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.spacer {
    height: 100vh;
}

#hero-4 {
    background-image: url("../images/icecream.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-4 .hero-content {
    text-align: center;
    color: rgb(185, 97, 97);
    padding-bottom: 50vh;
}

#hero-4 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
}

#hero-4 h4 {
    font-size: 3vw;
    margin: 0px;
}

#hero-4 a {
    font-size: 1.7vw;
    display: inline-block;
    background-color: rgb(230, 164, 164);
    color: #333333;
    text-decoration: none;
    border-radius: 25px;
    padding: 20px;
    margin: 5vh 2vw 10vh;
}