#navbar {
    text-align: center;
    background-color: lightblue;
    padding: 24px;
}

div a {
    color: white;
}

p a {
    color: teal;
}

p.warning {
    color: red;
}

p.warning a {
    color: pink;
}

ul {
    color: green;
}

ul a {
    color: limegreen;
}

ul p a {
    color: purple;
}

ul div a {
    color: lightblue;
}