* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:  #4e3417e2;
}
#body {
    background-color: white;
}
#header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

#navbar {
    background-color:  #6b4c29ca;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
}
#navbar a:hover {
    background-color: transparent;
    color: rgb(205, 214, 73);
}
#navbar img {
    width: 100px;
}

#navbar #logo {
    margin-right: auto;
}
#hero {
    background-image: url(../images/photo1.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#hero h1 {
    font-size: 7vw;
    color: rgb(157, 177, 236);
}
#hero .hero-content {
    position: absolute;
    top: 30%;
    left: 15%;
}
#hero .hero-content img {
    display: flex;
    width: 460px;
    display: flex;
    justify-content: center;
  
}
#hero h3 {
    font-size: 3vw;
    color: rgba(247, 225, 173, 0.85);
    font-family: "Lexend", sans-serif;
}
#hero a {
    font-size: 15px;
    display: inline-block;
    background-color: #8298e8e5;
    color: beige;
    text-decoration: none;
    padding: 24px;
    margin: 2vh 5vw 1vh 10px;
    border-radius: 20px;
    margin-bottom: 25%;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
}

#hero a:hover {
    background-color: rgba(248, 248, 114, 0.915);
    color: rgb(6, 2, 32);
}

.sub {
    display: flex;
    justify-content: center;
    color: #00031cd0;
    font-family: "Lexend", sans-serif;
    padding-top: 35px;
    padding-bottom: 0px;
}
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}
#menu-content {
    border-radius: 3%;
    border: 5px solid rgba(46, 44, 96, 0.542);
    width: 350px;
    padding: 30px;
    text-align: center;
    margin: 10px;

}

.side-by-side {
    display: flex;
    align-items: center;
    border: 5px solid rgba(46, 44, 96, 0.542);
    border-radius: 16px;
    margin: 80px;
    padding: 0px;
    background-color: white;
}

.side-by-side .image img {
    width: 100%;
}

.side-by-side .image {
    flex: 1;
}

.side-by-side .text {
    flex: 1;
    padding: 36px;
}

.side-by-side .text h3 {
    font-size: 48px;
}
.text {
    text-align: center;
}
#menu-content {
    background-color: white;
}
.card img {
    display: flex;
    width: 260px;
    display: flex;
    justify-content: center;
}
#card1 {
    position: relative;
}

#card1 .card-content {
    position: absolute;
    background-color: pink;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #0003;
    margin: 0px 24px;
    padding: 12px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
}
#card1:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.text h2 {
    font-family: "Permanent Marker", cursive;
    font-size: 44px;
}
.card-content h4 {
    font-family: "Permanent Marker", cursive;
    font-size: 24px;
}
#menu-content2 {
    border-radius: 3%;
    border: 5px solid rgba(46, 44, 96, 0.542);
    width: 350px;
    padding: 30px;
    text-align: center;
    margin: 10px;
    background-color: white;
}
#card2 {
    position: relative;
}

#card2 .card-content {
    position: absolute;
    background-color: pink;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #0003;
    margin: 0px 24px;
    padding: 12px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
}
#footer {
    position: sticky;
    top: 0px;
    z-index: 1;
}
#footer-container {
    background: rgba(204, 155, 90, 0.511);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#footer-container img {
    width: 100px;
}
#footer-container h3 {
    font-size: 10px;
}
/* media queries */
@media screen and (max-width: 500px) and (min-width: 320px) {
   #navbar {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
   }
   #logo img {
    width: 100px;
    display: flex;
    justify-content: center;
   }

   #hero h1 {
    font-size: 35px;
    padding-top: 170px;
   }
   #hero h3 {
    font-size: 14px;
    text-align: center;
   }
   #hero img {
    width: 100%;
    max-width: 350px;
    margin-top: 80px;
   }
   #hero a {
    font-size: 10px;
    text-align: center;
   }
   .side-by-side {
    border-radius: 16px;
   }
   .side-by-side .text {
    display: flex;
    flex-direction: column;
   }
   .text h2 {
    font-size: 20px;
    justify-content: center;
    text-align: center;
   }
    .text h4 {
        font-size: 12px;
        justify-content: center;
    }
}